tm_cuse_duke.ipynb

In [1]:
import requests
import pandas as pd
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

# Retrieve the API key from the .env file
API_KEY = os.getenv('ticketmaster_api_key')
# BASE_URL = 'https://app.ticketmaster.com/discovery/v2/events.json'
BASE_URL = ''

In [3]:
# Number of tickets
n_tickets = 64
# Base price for each ticket
price = 12.50
# Create the dataframe
cuse_duke_df = pd.DataFrame({'base_price': [price] * n_tickets})

display(cuse_duke_df.head(2))

   base_price
0        12.5
1        12.5

In [ ]:
# data dictionary my seats