tm_cuse_duke.ipynb

In [1]:
import requests
import pandas as pd
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

# Retrieve the API key from the .env file
API_KEY = os.getenv('ticketmaster_api_key')
# BASE_URL = 'https://app.ticketmaster.com/discovery/v2/events.json'
BASE_URL = ''

In [5]:
my_seats_data = [
    {'section': '305', 'row': 'S', 'seat': '28', 'my_price': 12.50},
    {'section': '306', 'row': 'R', 'seat': '18', 'my_price': 12.50},
    {'section': '306', 'row': 'R', 'seat': '31', 'my_price': 12.50},
    {'section': '306', 'row': 'R', 'seat': '32', 'my_price': 12.50},
    {'section': '313', 'row': 'S', 'seat': '6', 'my_price': 12.50},
    {'section': '313', 'row': 'S', 'seat': '7', 'my_price': 12.50},
    {'section': '313', 'row': 'T', 'seat': '5', 'my_price': 12.50},
    {'section': '313', 'row': 'T', 'seat': '6', 'my_price': 12.50},
    {'section': '313', 'row': 'T', 'seat': '7', 'my_price': 12.50},
    {'section': '314', 'row': 'T', 'seat': '19', 'my_price': 12.50},
    {'section': '314', 'row': 'T', 'seat': '20', 'my_price': 12.50},
    {'section': '314', 'row': 'U', 'seat': '17', 'my_price': 12.50},
    {'section': '314', 'row': 'U', 'seat': '18', 'my_price': 12.50},
    {'section': '314', 'row': 'U', 'seat': '19', 'my_price': 12.50},
    {'section': '314', 'row': 'U', 'seat': '20', 'my_price': 12.50},
    {'section': '315', 'row': 'R', 'seat': '14', 'my_price': 12.50},
    {'section': '315', 'row': 'R', 'seat': '15', 'my_price': 12.50},
    {'section': '315', 'row': 'R', 'seat': '16', 'my_price': 12.50},
    {'section': '315', 'row': 'R', 'seat': '17', 'my_price': 12.50},
    {'section': '315', 'row': 'S', 'seat': '13', 'my_price': 12.50},
    {'section': '315', 'row': 'S', 'seat': '14', 'my_price': 12.50},
    {'section': '315', 'row': 'S', 'seat': '15', 'my_price': 12.50},
    {'section': '315', 'row': 'S', 'seat': '16', 'my_price': 12.50},
    {'section': '315', 'row': 'S', 'seat': '17', 'my_price': 12.50},
    {'section': '315', 'row': 'S', 'seat': '18', 'my_price': 12.50},
    {'section': '315', 'row': 'S', 'seat': '19', 'my_price': 12.50},
    {'section': '315', 'row': 'U', 'seat': '3', 'my_price': 12.50},
    {'section': '315', 'row': 'U', 'seat': '4', 'my_price': 12.50},
    {'section': '315', 'row': 'U', 'seat': '5', 'my_price': 12.50},
    {'section': '315', 'row': 'U', 'seat': '6', 'my_price': 12.50},
    {'section': '315', 'row': 'U', 'seat': '11', 'my_price': 12.50},
    {'section': '315', 'row': 'U', 'seat': '12', 'my_price': 12.50},
    {'section': '315', 'row': 'U', 'seat': '15', 'my_price': 12.50},
    {'section': '315', 'row': 'U', 'seat': '16', 'my_price': 12.50},
    {'section': '315', 'row': 'U', 'seat': '19', 'my_price': 12.50},
    {'section': '315', 'row': 'U', 'seat': '20', 'my_price': 12.50},
    {'section': '316', 'row': 'Q', 'seat': '1', 'my_price': 12.50},
    {'section': '316', 'row': 'Q', 'seat': '2', 'my_price': 12.50},
    {'section': '316', 'row': 'R', 'seat': '1', 'my_price': 12.50},
    {'section': '316', 'row': 'R', 'seat': '2', 'my_price': 12.50},
    {'section': '316', 'row': 'R', 'seat': '3', 'my_price': 12.50},
    {'section': '316', 'row': 'S', 'seat': '1', 'my_price': 12.50},
    {'section': '316', 'row': 'S', 'seat': '2', 'my_price': 12.50},
    {'section': '316', 'row': 'S', 'seat': '3', 'my_price': 12.50},
    {'section': '316', 'row': 'T', 'seat': '1', 'my_price': 12.50},
    {'section': '316', 'row': 'T', 'seat': '2', 'my_price': 12.50},
    {'section': '316', 'row': 'T', 'seat': '3', 'my_price': 12.50},
    {'section': '317', 'row': 'T', 'seat': '9', 'my_price': 12.50},
    {'section': '317', 'row': 'T', 'seat': '10', 'my_price': 12.50},
    {'section': '317', 'row': 'T', 'seat': '11', 'my_price': 12.50},
    {'section': '317', 'row': 'T', 'seat': '12', 'my_price': 12.50},
    {'section': '317', 'row': 'T', 'seat': '13', 'my_price': 12.50},
    {'section': '317', 'row': 'T', 'seat': '14', 'my_price': 12.50},
    {'section': '317', 'row': 'T', 'seat': '15', 'my_price': 12.50},
    {'section': '317', 'row': 'T', 'seat': '16', 'my_price': 12.50},
    {'section': '317', 'row': 'T', 'seat': '19', 'my_price': 12.50},
    {'section': '317', 'row': 'T', 'seat': '20', 'my_price': 12.50},
    {'section': '317', 'row': 'U', 'seat': '12', 'my_price': 12.50},
    {'section': '317', 'row': 'U', 'seat': '13', 'my_price': 12.50},
    {'section': '317', 'row': 'U', 'seat': '14', 'my_price': 12.50},
    {'section': '317', 'row': 'U', 'seat': '15', 'my_price': 12.50},
    {'section': '317', 'row': 'U', 'seat': '16', 'my_price': 12.50},
    {'section': '317', 'row': 'U', 'seat': '17', 'my_price': 12.50}
]

# create my_seats_df from dictionary my_seats_data
my_seats_df = pd.DataFrame(my_seats_data)
# display my_seats_df
print(len(my_seats_df))
display(my_seats_df.head(5))

63

  section row seat  my_price
0     305   S   28      12.5
1     306   R   18      12.5
2     306   R   31      12.5
3     306   R   32      12.5
4     313   S    6      12.5

In [6]:
# return unique sections as list
my_sections_list = my_seats_df['section'].unique().tolist()
# display sections
print(my_sections_list)

['305', '306', '313', '314', '315', '316', '317']